{% extends "posts/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom">login</legend>
        {{ form|crispy }}
    </fieldset>
    <button type="submit" class="btn btn-outline-info">sign in</button>
</form>
<div class="border-top pt-3">
    <small class="text-muted">
        need an acc <a href="{% url 'register' %}" class="ml-2">sign up</a>
    </small>
</div>
{% endblock content %}
