{% extends "posts/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
    user profile<br>
    {{ user.username }}<br>
    {{ user.email }}<br>
    <img src="{{ user.profile.profile_pic.url }}">
    <form method="post" enctype="multipart/form-data">  <!-- to save image -->
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom">profile info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <button type="submit" class="btn btn-outline-info">save changes</button>
    </form>
{% endblock content %}

