{% extends "posts/layout.html" %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.author }}</p>
    <img class="rounded-circle" src="{{ object.author.profile.profile_pic.url }}" height="50" width="50">
    <p>{{ object.date_posted|date:"M j, Y" }}</p> <!-- E : listopadA, locale specific -->
    <p>{{ object.content}}</p>

    {% if object.author == user %}
<a href="{% url 'post-update' object.id %}" class="btn btn-info">update</a>
<a href="{% url 'post-delete' object.id %}" class="btn btn-danger">delete</a>
    {% endif %}
{% endblock content %}
