{% extends "posts/layout.html" %}

{% block content %}
 <a href="{% url 'posts-index' %}">back to homepage</a>
<h1>posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
{% for post in posts %}
<a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
<a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
<img class="rounded-circle" src="{{ post.author.profile.profile_pic.url }}" height="50" width="50">
<p>{{ post.date_posted|date:"M j, Y" }}</p> <!-- E : listopadA, locale specific -->
<p>{{ post.content}}</p>
{% endfor%}

<!-- Pagination -->
<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-info">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info">previous</a>
            {% endif %}

            <!-- Current page + surrounding -->
            {% for num in page_obj.paginator.page_range %}
                {% if page.obj.number == num %}
                    <a href="?page={{ num }}" class="btn btn-info">{{ num }}</a>  <!-- outline is applied instead, looks like other pages (?)-->
                {% elif num > page_obj.number|add:"-2" and num < page_obj.number|add:"2" %}
                    <a href="?page={{ num }}" class="btn btn-outline-info">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info">last &raquo;</a>
            {% endif %}
        </span>
</div>
{% endblock content %}
